


  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
     
      <span class="navbar-brand mb-0 h1"  class="bi bi-android2"> Regristro Personas</span>

      <button class="btn btn-primary" >Inbox <button class="btn btn-danger"> 99+</button> </button>
      <form class="d-flex input-group w-auto">
        <input
          type="search"
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
        />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </form>
    </div>
  </nav>